target/
target/*
data/connections.db
data/connections copy.db
.vscode/
.DS_Store
dist/
build_apple.sh
notarize-simple.sh
notarize.sh
.flatpak-builder/
flatpak/.build-dir
flatpak/dist
flatpak/cargo-vendor
flatpak/repo
